body {
    padding: 20px;
    font-family: verdana;
}

h1 {
    margin: 0px;
    text-decoration: underline;
}

p {
    font-size: 20px;
}

.links {
    display: inline;
    padding: 1px 4px;
    background-color: white;
    font-weight: bold;
    border: solid 2px black;
    border-radius: 3px;
    margin-right: 10px;
}

a {
    text-decoration-line: none;
    color: black;
}

a:active {
    color: blue;
}

img {
    height: 447px;
    width: 640px; 
    border-radius: 12px;
}