body {
    padding: 20px;
    font-family: verdana;
}

h1 {
    margin: 0px;
    text-decoration: underline;
}

p {
    font-size: 20px;
    margin: 0px;
}

a {
    text-decoration-line: none;
    color: white;
    font-weight: bold;
}

a:active {
    color: blue;
}

img {
    height: 447px;
    width: 640px; 
    border-radius: 12px;
}

.wrapper {
    background-color: cadetblue;
    border-radius: 10px;
    padding: 10px;
}

.footer {
    display: flex;
    justify-content: space-around;
}

.nav {
    display: flex;
    gap: 20px;
}

.nav > div {
    padding: 12px 5px;
    border-radius: 5px;
}

.nav > div:hover {
    background-color: rgb(38, 110, 112);
}